# Discord Bot
DISCORD_BOT_TOKEN=
DISCORD_SERVER_ID=

# チャンネルID
DISCORD_ALERT_CHANNEL_ID=
DISCORD_AUDIT_CHANNEL_ID=
DISCORD_INFO_CHANNEL_ID=

# Webhook URL
DISCORD_WEBHOOK_ALERTS=
DISCORD_WEBHOOK_AUDIT=
DISCORD_WEBHOOK_SUMMARY=

# メンバーロール
DISCORD_MEMBER_ROLE_ID=
DISCORD_ADMIN_ROLE_ID=
